.content-wrapper {
  @apply prose prose-sm md:prose-base lg:prose-lg prose-slate mx-auto;
  max-width: 100ch;
}

.ProseMirror {
  @apply content-wrapper outline-none;
}

.ProseMirror:focus {
  @apply outline-none;
}

.content-wrapper h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.96px;
    margin: 1.2em 0 0.6em;
}

.content-wrapper h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 530;
  line-height: 120%;
  margin: 1em 0 0.5em;
}

.content-wrapper h3 {
  @apply text-2xl font-medium mb-4;
}

.content-wrapper p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 1em 0;
}

.content-wrapper ul,
.content-wrapper ol {
  @apply mb-4 list-disc pl-5;
}

.content-wrapper li {
  @apply mb-2;
}

.content-wrapper img {
  @apply rounded-lg shadow-md my-6;
  max-width: 100%;
  height: auto;
}

.content-wrapper pre {
  @apply bg-gray-100 rounded-lg p-4 my-4;
}

.content-wrapper code {
  @apply bg-gray-100 rounded px-1;
}

.content-wrapper blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic my-4;
}

.content-wrapper a {
  @apply text-blue-600 hover:text-blue-800 underline;
}

/* Preview specific styles */
.content-preview {
  @apply content-wrapper;
}

.editor-controls-bar {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  color: #111 !important;
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
}
.editor-controls-bar button {
  display: inline-block !important;
  opacity: 1 !important;
  color: #111 !important;
  background: #fff !important;
  z-index: 1001 !important;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
}
.editor-controls-bar button svg {
  color: #111 !important;
}
